%table.main
	%tr
		%td
			%h2 Профиль пользователя
	%tr
		%td
			.body
				= link_to 'к списку пользователей', users_path
				%p
					Имя пользователя: 
					= @user.username
				- if logged_in_user.has_role?('Administrator')
					%p
						Email: 
						= @user.email
					%p
						Телефон: 
						= @user.phone
					%p
						Адрес: 
						= @user.address
				%p 
					Зарегистрирован:  
					= @user.created_at.strftime("%d.%m.%Yг.")
				%p
					Последний визит:  
					= @user.last_login_at.strftime("%d.%m.%Yг.") if @user.last_login_at
				%p
					Информация о пользователе:
				%p{:style=>'margin-left:30px;'}
					= @user.profile
	%tr
		%td
			.bottom &nbsp;
